/* initial css */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #000000;
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.bg-biolate {
    background-color: #562EFF;
}

.container {
    width: 870px;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.section-header {
    font-size: 1.5rem;
    color: #562EFF;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 31px;
}

/*---------------------
    Header 
----------------------*/
header {
    display: flex;
    justify-content: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    width: 41px;
    height: 51px;
    margin-right: 15px;
}

.logo span {
    color: #ffffff;
    font-size: 1.5rem;
}

.header {
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-right: 36px;

}

.nav ul li:last-child a {
    margin-right: 0;
}

.nav ul li a img {
    width: 51px;
    height: 51px;
}

/* Player and Blog */
.player-blog-area {
    display: flex;
    justify-content: center;
}

/* Palyer */
.player-blog,
.course-area {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 33px;
    margin-top: 36px;
    margin-bottom: 21px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.player-thumb {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

.player h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #000000;
}

.line {
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px 46px;
}

.blog {
    display: flex;
    align-items: flex-start;
}

.blog-thumb {
    width: 177px;
    height: 117px;
    margin-right: 16px;
}

.blog-info h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #000000;
}

.author {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

}

.author span {
    color: #9F9F9F;
}

.author a {
    color: #562EFF;
    text-decoration: none;
}

/* Course Section */
.course-section {
    display: flex;
    justify-content: center;
}

.course-thumb img {
    height: 104px;
    margin-bottom: 19px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
}

.course h2 {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1, 5rem;
    color: #1E1E1E;
}

.tutor {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #ED6B4F;
    text-decoration: none;
}

.course-info {
    display: flex;
    justify-content: space-between;
}

.fa-star,
.fa-star-half-stroke,
.corse-star span {
    font-size: 1rem;
    color: #aeaeae;
}

.gold-color {
    color: #FFC014;
}

.course-duration {
    color: #FF4A60;
    font-size: 1rem;
    background: #FFE4E8;
    border-radius: 14.6913px;
    padding: 2px 5px;
}